@media (max-width: 600px) { 
  .main {
    .hero {
      height: 50rem;
      
      .about > .about-me-intro > .call-to-action { 
        p {
          font-size: 1.8rem;
        }
      }
    }
    
    .motto {
      height: 60vh;
      
      .container > .qoute-wrapper > .quote, 
      .container > .qoute-wrapper > .quote {
        
        &::before,
        &::after {
          font-size: 10rem;
        }
        
        &::before {
          top: -6rem;
          left: -3rem;
        }
        
        &::after {
          bottom: -0.5rem;
          right: -3rem;
        }
      }
      
      .container > .qoute-wrapper > .quote-by {
        margin-top: 4rem;
      }
    }
    
    .work-experience .container .timeline .timeline-item {
      .timeline-heading {
        span {
          font-size: 1.4rem;
        }
        
        .timeline-entry-name {
          display: block;
          font-size: 1.6rem;
        }
      }
    }
    
    .nex-project-slogan {
      h2 {
        color: #333;
      }
    }
  }
}

@media (max-width: 768px) {
  .grid,
  .my-portfolio .grid {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  
  .main {
    .contact {
      .contact-info-wrapper {
        flex-direction: column;
      }
    }
    
    .nex-project-slogan {
      h2 {
        color: #333;
      }
    }
  }
}


@media screen and (orientation: landscape) and (mix-width: 1000px) {
  .nav {
    overflow-y: scroll;
  }

  .main {
    .hero {
      height: initial;
      min-height: 100vh;
    }
  }
}

@media (max-width: 1030px) {
  .nav {
    transform: translateX(-27rem);
    transition: transform 0.5s;
  }
  
  .is-open .nav {
    transform: translateX(0);
  }
  
  .hamburger-menu {
    display: flex;
    width: 5rem;
    height: 5rem;
    background-color: var(--dark-clr);
    color: var(--light-clr);
    position: fixed;
    top: 0;
    left: 0;
    font-size: 2.6rem;
    cursor: pointer;
    transition: transform 0.5s;
    z-index: 2000;
    
    & * {
      margin: auto;
    }

    .close {
      display: none;
    }
  } 

  .is-open .hamburger-menu {
    transform: translateX(21rem);
    
    .close {
      display: block;
    }
  
    .open {
      display: none;
    }
  }

  .main {
    width: 100%;
    transform: initial;

    .hero {
      height: 88vh;

      &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 999;
        opacity: 0;
        transform: scale(0);
        transition: opacity 0.5s;
      }

      .name-heading {
        font-size: 25vw;
      }
    }

    .my-portfolio > .container > .grid > .grid-item {
      .portfolio-item-info {
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;

        .project-name {
          transform: translateY(0);
        }

        .project-type {
          transform: translateY(0);
        }

        .info-cta > .info-btn:first-child {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .is-open .main .hero::after {
    opacity: 1;
    transform: scale(1);
  }
}

// Large Screens
@media (min-width: 1925px) {
  html {
    font-size: 75%;
  }
}